ul {
    list-style: none;
    margin-top: 0;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
}

p,h1,h2,h3 {
    margin-bottom: 0;
    margin-top: 0;
}

a {
    text-decoration: none;
}

head {
    font-family: "Roboto", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

footer {
    font-family: "Roboto", sans-serif;
}

img {
    display: block;
    height: auto;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HEADER */
.header {
    padding: 16px 0;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo-raleway {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    padding: 24px 0 24px 0;
}

.menu-button {
    display: block;
    text-align: center;
    border: none;
    background-color: #fff;
    cursor: pointer;
    padding: 0;
}

.header-logo-list {
    display: none;
}

.adress-logo-list {
    display: none;
}

/* MENU MODAL */

.main-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
    position: relative;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}

.header-menu-list {
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
}

.header-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-adress {
    font-style: normal;
    margin-bottom: 48px;
}

.adress-menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.adress-menu-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.number {
    color: #4d5ae5;
}

/* HERO */
.hero {
    padding: 72px 0;
    background: #2e2f42;
    max-width: 320px;
    min-height: 432px;
    margin: 0 auto;
}

.bgr {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .bgr {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-mob-2x.jpg);
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    max-width: 216px;
    margin-bottom: 72px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    display: block;
    text-align: center;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ABOUT COMPANY */
.about {
    padding: 96px 0;
}

.about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.about-container {
    display: none;
}

.about-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-top: 0;
}

.about-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* OUR TEAM */
.team {
    padding: 96px 0;
    background: #f4f4fd;
}

.team-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.team-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-icon-list {
    display: flex;
    gap: 24px;
    flex-direction: row;
}

.team-icon-item {
    width: 40px;
    height: 40px;
}

.team-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-icon {
    fill: #f4f4fd;
}

/* PORTFOLIO */
.portfolio {
    padding: 96px 0;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.portfolio-item:hover .cover-text {
    transform: translateY(0);
    transition: transform 250ms linear;
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-image {
    position: relative;
    overflow: hidden;
}

.portfolio-img {
    max-width: 288px;
}

.cover-text {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 40px 32px 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .cover-text {
    transform: translateY(0);
    transition: transform 250ms linear;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 0;
}

.portfolio-item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* FOOTER */
.footer {
    background: #2e2f42;
    padding: 96px 0;
}

.footer-first-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 72px;
    gap: 16px;
}

.footer-logo-raleway {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.footer-sp {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-second-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 72px;
}

.icon-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0;
    text-align: center;
    padding-bottom: 16px;
}

.icon-list {
    display: flex;
    gap: 16px;
    flex-direction: row;
    position: relative;
}

.icon-item {
    width: 40px;
    height: 40px;
}

.icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sub {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    color: #ffffff;
    opacity: 0.3;
    margin-bottom: 16px;
}

.footer-input::placeholder {
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

/* MODAL */
.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    min-width: 256px;
    margin-top: 0;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-text {
    margin-bottom: 16px;
}

.modal-field-check {
    margin-bottom: 24px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
}

.modal-field-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.check-text {
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.policy-text {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.check-text-box {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 7.5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.check-text .check-text-box {
    background-color: #404BBF;
    border: none;
    fill: #f4f4fd;
}

.modal-check:focus+.check-text .check-text-box {
    border-color: #4D5AE5;
}

.button-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    display: block;
    text-align: center;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin: 0 auto;
    margin-top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
    }

    /* HEADER */

    .header {
        padding: 0;
    }

    .menu-button {
        display: none;
    }

    .header-container {
        align-items: center;
    }

    .header-logo-raleway {
        margin-right: 120px;
        padding: 0;
    }

    .header-logo-nav {
        display: flex;
        align-items: center;
    }

    .mane::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .header-logo-list {
        display: flex;
        gap: 40px;
        max-width: 261px;
    }
    
    .header-logo-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        padding: 24px 0;
        position: relative;
    }
    
    .header-adress {
        font-style: normal;
    }

    .adress-logo-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .adress-logo-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
    }

    /* HERO */
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .bgr {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tab.jpg);
        min-width: 768px;
    }
    
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px) {
        .bgr {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tab-2x.jpg);
        }
    }

    .hero-title {
        font-size: 56px;
        max-width: 496px;
        margin-bottom: 36px;
    }

    /* ABOUT COMPANY */
    
    .about-list {
        min-width: 356px;
        gap: 72px 24px;
    }
    
    .about-subtitle {
        text-align: left;
    }

    .about-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    /* OUR TEAM */

    .team {
        padding: 96px 92px;
    }

    .team-list {
        gap: 64px 24px;
    }
    
    .team-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    /* PORTFOLIO */

    .portfolio-list {
        justify-content: center;
        gap: 72px 24px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .portfolio-img {
        max-width: 356px;
    }

    /* FOOTER */
    .footer {
        padding: 96px 92px;
        justify-content: flex-start;
    }

    .footer-first-container {
        justify-content: left;
        max-width: 264px;
    }

    .footer-second-container {
        padding-bottom: 104px;
        justify-content: left;
    }

    .footer-modal-cont {
        display: flex;
        gap: 24px;
    }

    .footer-modal {
        display: flex;
        gap: 24px;
    }

    .footer-sub {
        text-align: start;
    }

    .footer-input {
        width: 264px;
        margin-bottom: 0px;
    }

    .footer-modal-button {
        margin: 0;
    }

    /* BACKDROP */

    .modal {
        width: 404px;
        min-height: 584px;
    }

}

@media screen and (min-width: 1158px) {

    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .header {
        justify-content: space-between;
    }

    .header-logo-raleway {
        margin-right: 76px;
        padding: 0;
    }

    .header-logo-link:hover,
    .header-logo-link:focus {
        color: #404bbf;
    }

    .adress-logo-link:hover,
    .adress-logo-link:focus {
        color: #404bbf;
    }

    .adress-logo-list {
        gap: 40px;
        flex-direction: row;
    }

    .adress-logo-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /* HERO */
    .hero {
        padding: 188px 0;
    }

    .hero-title {
        margin-bottom: 48px;
    }

    .bgr {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
        max-width: 1440px;
    }
    
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
    (min-resolution: 192dpi) and (min-width: 1158px) {
        .bgr {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-2x.jpg);
        }
    }

    .hero-button:hover,
    .hero-button:focus {
        background-color: #404BBF;
    }

    /* ABOUT COMPANY */
    .about {
        padding: 120px 0;
    }

    .about-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
        gap: 8px;
    }

    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }

    .about-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .about-item-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        max-width: 264px;
        margin-top: 0;
        padding-top: 8px;
    }

    /* OUR TEAM */
    .team {
        padding: 120px 0px;
    }

    .team-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

    .team-icon-link:hover,
    .team-icon-link:focus {
        background-color: #404bbf;
    }

    /* PORTFOLIO */
    .portfolio {
        padding: 120px 0px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 24px * 2) / 3);
        box-shadow: none;
    }

    .portfolio-list {
        gap: 48px 24px;
    }

    /* FOOTER */
    .footer {
        padding: 100px 0;
    }
    
    .footer-container {
        display: flex;
    }
    
    .footer-modal-cont {
        gap: 0;
    }

    .footer-second-container {
        align-items: flex-start;
        box-sizing: border-box;
        column-gap: 16px;
        flex-direction: column;
        padding-bottom: 0px;
    }

    .footer-first-container {
        margin-right: 120px;
        min-width: 264px;
        margin-bottom: 0px;
    }

    .footer-third-container {
        margin-left: 80px;
    }

    .icon-link:hover,
    .icon-link:focus {
        background-color: #31D0AA;
    }
    
    .modal-button:hover,
    .modal-button:focus {
        background-color: #404bbf;
        border: none;
        fill: #ffffff;
    }

    .modal-input:focus {
        border-color: #4D5AE5;
        background-color: #fcfcfc;
    }

    .modal-input:focus+.modal-field-icon {
        fill: #4d5ae5;
    }

    .modal-text:focus {
        border-color: #4d5ae5;
        background-color: #fcfcfc;
    }

    .button-modal:hover,
    .button-modal:focus {
            background-color: #404BBF;
    }

    .footer-modal-button:hover,
    .footer-modal-button:focus {
        background-color: #404BBF;
    }

}